*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primaryCol: blue;
  --secondaryCol: rgba(10, 0, 65, 1);
}

body {
  background-color: lightslategrey;
  font-family: Arial, Helvetica, sans-serif;
}

h1.your-result{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6)
}

h1.your-summary{
    font-size: 20px;
    color: var(--secondaryCol);
}

h2{
    font-size: 45px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0px;
}

h3{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0px;
}

h4{
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
}

.words{
    text-align: center;
    color: rgba(255, 255, 255, 0.6)
}

.model{
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    left: 25%;
    max-width: 50%;
    border: none;
    height: 400px;
}

.grid-container{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    border: none;
}

.left{
    background-color: var(--primaryCol);
    background-image: linear-gradient(rgb(28, 62, 255), rgb(0, 0, 156));
    border-radius: 20px;
    padding: 20px;
    color: white;
    border: none;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: none;
    max-width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.score{
    background-color: rgba(0, 0, 224, 0.847);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.continue-button{
    background-color: var(--secondaryCol);
    color: white;
    border-radius: 250px;
    border: none;
    height: 50px;
    position: relative;
    width: 500px;
    max-width: 100%;
    
    transition: background-color 1s, color 1s font-size 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-weight: bold;
}

.continue-button:hover{
    background-color: var(--primaryCol);
    color: white;
    font-size: 14px;
    transition: background-color 1s, color 1s, font-size 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.score-grid{
    display: flex;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    border: none;
    gap: 10px;
    flex-direction: column;
    max-height: 80%;
    margin-bottom: 20px;
    width: 500px;
    max-width: 100%;
}

.score-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-weight: light;
}

.reaction{
    background-color: #ffd7d7;
    border-radius: 5px;
    padding: 10px;
    color: #b83d3d;
}

.memory{
    background-color: #fff3d7;
    border-radius: 5px;
    padding: 10px;
    color: #e49f00;
}

.verbal{
    background-color: #deffd7;
    border-radius: 5px;
    padding: 10px;
    color: #218b4d;
}

.visual{
    background-color: #d7e3ff;
    border-radius: 5px;
    padding: 10px;
    color: #10317e;
}


.score-individual{
    color: rgb(24, 24, 24);
}

.s100{
    color: rgb(121, 121, 121);
    font-weight: light;
}